<%= form_for(@comparison) do |f| %>
  <% if @comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comparison.errors.count, "error") %> prohibited this comparison from being saved:</h2>

      <ul>
      <% @comparison.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :comparison %><br>
    <%= f.text_field :comparison %>
  </div>
  <div class="field">
    <%= f.label :point_type %><br>
    <%= f.number_field :point_type %>
  </div>
  <div class="field">
    <%= f.label :point1 %><br>
    <%= f.number_field :point1 %>
  </div>
  <div class="field">
    <%= f.label :comment1 %><br>
    <%= f.text_area :comment1 %>
  </div>
  <div class="field">
    <%= f.label :point2 %><br>
    <%= f.number_field :point2 %>
  </div>
  <div class="field">
    <%= f.label :comment2 %><br>
    <%= f.text_area :comment2 %>
  </div>
  <div class="field">
    <%= f.label :point3 %><br>
    <%= f.number_field :point3 %>
  </div>
  <div class="field">
    <%= f.label :comment3 %><br>
    <%= f.text_area :comment3 %>
  </div>
  <div class="field">
    <%= f.label :good %><br>
    <%= f.number_field :good %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
