<%= form_for(@comparison) do |f| %>
  <% if @comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comparison.errors.count, "error") %> prohibited this comparison from being saved:</h2>

      <ul>
      <% @comparison.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :comparison %><br>
    <%= f.text_field :comparison %>
  </div>
  <div class="field">
    <%= f.label :point_type %><br>
    <%= f.number_field :point_type %>
  </div>
  <div class="field">
    <%= f.label :point %><br>
    <%= f.number_field :point %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
