<p id="notice"><%= notice %></p>

<h1>Listing Comparisons</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Item</th>
      <th>User</th>
      <th>Comparison</th>
      <th>Point type</th>
      <th>Point1</th>
      <th>Comment1</th>
      <th>Point2</th>
      <th>Comment2</th>
      <th>Point3</th>
      <th>Comment3</th>
      <th>Good</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comparisons.each do |comparison| %>
      <tr>
        <td><%= comparison.category %></td>
        <td><%= comparison.item %></td>
        <td><%= comparison.user %></td>
        <td><%= comparison.comparison %></td>
        <td><%= comparison.point_type %></td>
        <td><%= comparison.point1 %></td>
        <td><%= comparison.comment1 %></td>
        <td><%= comparison.point2 %></td>
        <td><%= comparison.comment2 %></td>
        <td><%= comparison.point3 %></td>
        <td><%= comparison.comment3 %></td>
        <td><%= comparison.good %></td>
        <td><%= link_to 'Show', comparison %></td>
        <td><%= link_to 'Edit', edit_comparison_path(comparison) %></td>
        <td><%= link_to 'Destroy', comparison, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comparison', new_comparison_path %>
