<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @comparison.category %>
</p>

<p>
  <strong>Item:</strong>
  <%= @comparison.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @comparison.user %>
</p>

<p>
  <strong>Comparison:</strong>
  <%= @comparison.comparison %>
</p>

<p>
  <strong>Point type:</strong>
  <%= @comparison.point_type %>
</p>

<p>
  <strong>Point1:</strong>
  <%= @comparison.point1 %>
</p>

<p>
  <strong>Comment1:</strong>
  <%= @comparison.comment1 %>
</p>

<p>
  <strong>Point2:</strong>
  <%= @comparison.point2 %>
</p>

<p>
  <strong>Comment2:</strong>
  <%= @comparison.comment2 %>
</p>

<p>
  <strong>Point3:</strong>
  <%= @comparison.point3 %>
</p>

<p>
  <strong>Comment3:</strong>
  <%= @comparison.comment3 %>
</p>

<p>
  <strong>Good:</strong>
  <%= @comparison.good %>
</p>

<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>
