  <style type="text/css">

    table{float: right; }
    table, tr,th,td {
                      border: solid 1px gray;
                     }

    td {
        width: 300px;
        height: 500px;
        vertical-align: top;
        }
    img{
      vertical-align: middle;

    }

    .product{
       width: 295px;
       height: 400px;
       margin: 0 auto;
    }

    .p_img{
       width: 290px;
       height: 250px;
       vertical-align: middle;
       line-height: 250px;
    }
    .p_name{
      text-align: center;
      font-size: 20px;
      color: #800000;      
    }
    .p_attr{
      text-align: center;
      font-size: 14px;
    }


  </style>

<h1 style="text-align: center; font: fantasy; font-size: 64px;">twentyfour-seven</h1>
<h2 style="text-align: center;">コンビニ3社の商品を比較するよ</h2>

<div class="container">
<div class="row">
<div class="col-xs-12 col-md-2">
 <div class="dropdown">
    <!-- デフォルト表示部分 -->
    <a class="btn btn-default dropdown-toggle" id="sample-menu-2" data-toggle="dropdown">
          商品選択メニュー<span class="caret"></span>
        </a>
        
        <!-- リスト部分 -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="sample-menu-2">
          <li role="presentation" class="dropdown-header">チキン</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">サラダチキン</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">サラダ</li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">サラダA</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">スープ</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">スープA</a></li> 
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">おにぎり</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">おにぎりA</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">パン</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">パンA</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">おでん</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">おでんA</a></li>
          <li role="presentation" class="divider"></li>
       </ul>
      </div> 
  </div>
<div class="col-xs-12 col-md-10">
  <div class="col-xs-9 col-md-3">  
<h3>ファミマ</h3>
        <div class="product">
          <div class="p_img"><%= image_tag 'R_2230023.jpg' %></div>
          <p class="p_name">国産鶏のサラダチキン</p>
          <p class="p_attr">税込258円</p>
          <p class="p_attr">113Kcal</p>
        </div>

        <div class="tweets">
          <% @result_tweets1.take(3).each do |tw| %> 
            <p class="tw">
              <%= tw.user.screen_name  %><br>
              <%= tw.full_text  %>
            </p>
          <% end %>
        </div>
</div>

  <div class="col-xs-9 col-md-3">
<h3>セブン</h3>

        <div class="product">
          <div class="p_img"><%= image_tag 'R_44326.jpg' %></div>
          <p class="p_name">サラダチキン</p>
          <p class="p_attr">税込213円</p>
          <p class="p_attr">115Kcal</p>
        </div>

        <div class="tweets">
          <% @result_tweets2.take(3).each do |tw| %> 
            <p class="tw">
              <%= tw.user.screen_name  %><br>
              <%= tw.full_text  %>
            </p>
          <% end %>
        </div>
 </div> 
  <div class="col-xs-9 col-md-3">
<h3>ローソン</h3>



        <div class="product">
          <div class="p_img"><%= image_tag 'R_440473_pc.jpg' %></div>
          <p class="p_name">サラダチキン</p>
          <p class="p_attr">税込210円</p>
          <p class="p_attr">125Kcal</p>
        </div>

        <div class="tweets">
          <% @result_tweets3.take(3).each do |tw| %> 
            <p class="tw">
              <%= tw.user.screen_name  %><br>
              <%= tw.full_text  %>
            </p>
          <% end %>
        </div>
</div>
</div>
</div>

<div>
   <%  ##link_to 'リンク先へジャンプ', '/countries/' %>
</div>
