  <style type="text/css">

    table{float: right; }
    table, tr,th,td {
                      border: solid 1px gray;
                     }

    td {
        width: 300px;
        height: 500px;
        vertical-align: top;
        }
    img{
      vertical-align: middle;
      width: 100%;  
    }
    .grid_black{
     padding:0 15px;
     border-color: black;
     border-style: solid;
     border-width: 1px;
    }
    .grid_black_mid{
     padding:0 15px;
     border-color:black;
     border-style:solid;
     border-width: 1px 0px 1px 0px;
    }
    .product{ 

       margin: 0 auto;
    }

    .p_img{
       height: 250px;
       vertical-align: middle;
       line-height: 250px;
    }
    .p_name{
      text-align: center;
      font-size: 20px;
      color: #800000;      
    }
    .p_attr{
      text-align: center;
      font-size: 14px;
    }
    .shadow_famima{
      box-shadow: 0 0 0px 3px #0079c5 inset, 0 0 0px 6px #FFFFFF inset, 0 0 0px 9px #23ac38 inset;
    }
    .shadow_lawson{
      box-shadow: 0 0 0 9px #0074bf inset;
    }
    .shadow_seven{
      box-shadow: 0 0 0 2px #ee7620 inset, 0 0 0 3px #FFFFFF inset, 0 0 0 6px #11582c inset, 0 0 0 7px #FFFFFF inset, 0 0 0 9px #aa1f24 inset;
    }

  </style>

<h1 style="text-align: center; font: fantasy; font-size: 64px;">twentyfour-seven</h1>
<h2 style="text-align: center;">コンビニ3社の商品を比較するよ</h2>

<div class="container">
<div class="row row-eq-height">
<div class="col-xs-12 col-md-2">
 <div class="dropdown" >
    <!-- デフォルト表示部分 -->
    <a class="btn btn-default dropdown-toggle" id="sample-menu-2" data-toggle="dropdown">
          商品選択メニュー<span class="caret"></span>
        </a>
        
        <!-- リスト部分 -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="sample-menu-2">
          <li role="presentation" class="dropdown-header">チキン</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/サラダチキン">サラダチキン</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">サラダ</li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/サラダ">サラダ</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">スープ</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/スープ">スープ</a></li> 
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">おにぎり</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/おにぎり">おにぎり</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">パン</li> 
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/show/パン">パン</a></li>    
          <li role="presentation" class="divider"></li>
       </ul>
      </div> 
  </div>
<div class="col-xs-12 col-md-9 row-eq-height">
<% if @product["ファミマ"].nil? %>
<p>選択した商品が見つかりませんでした</p>
<% end %>
<% if !@product["ファミマ"].nil? %>
<div class="col-xs-12 col-md-4 grid_black shadow_famima">  
<h3>ファミマ</h3>
        <div class="product">
          <% if !@product["ファミマ"].image_url.nil? %> 
          <div class="p_img"><%= image_tag @product["ファミマ"].image_url %></div>
          <% end %>
          <p class="p_name"><%= @product["ファミマ"].name %></p>
          <p class="p_attr">税込<%= @product["ファミマ"].price %>円</p>
          <p class="p_attr"><%= @product["ファミマ"].calorie %>kcal</p>
        </div>

        <div class="tweets">
          <p class="tw_all">話題数：<%= @tw_cnt_all1  %><br></p>
          <p class="tw_good">　おいしい：<%= @tw_cnt_good1  %><br></p>
          <p class="tw_bad">　まずい：<%= @tw_cnt_bad1  %><br></p>
        </div>
</div>

  <div class="col-xs-12 col-md-4 grid_black_mid shadow_seven">
<h3>セブン</h3>

        <div class="product">
          <% if !@product["セブン"].image_url.nil? %> 
          <div class="p_img"><%= image_tag @product["セブン"].image_url %></div>
          <% end %>
          <p class="p_name"><%= @product["セブン"].name %></p>
          <p class="p_attr">税込<%= @product["セブン"].price %>円</p>
          <p class="p_attr"><%= @product["セブン"].calorie %>kcal</p>
       
      
        </div>

        <div class="tweets">
          <p class="tw_all">話題数：<%= @tw_cnt_all2  %><br></p>
          <p class="tw_good">　おいしい：<%= @tw_cnt_good2  %><br></p>
          <p class="tw_bad">　まずい：<%= @tw_cnt_bad2  %><br></p>
        </div>
 </div> 
  <div class="col-xs-12 col-md-4 grid_black shadow_lawson">
<h3>ローソン</h3>
        <div class="product">
          <% if !@product["ローソン"].image_url.nil? %> 
          <div class="p_img"><%= image_tag @product["ローソン"].image_url %></div>  
          <% end %>
          <p class="p_name"><%= @product["ローソン"].name %></p>
          <p class="p_attr">税込<%= @product["ローソン"].price %>円</p>
          <p class="p_attr"><%= @product["ローソン"].calorie %>kcal</p>
        
       
        </div>

        <div class="tweets">
          <p class="tw_all">話題数：<%= @tw_cnt_all3  %><br></p>
          <p class="tw_good">　おいしい：<%= @tw_cnt_good3  %><br></p>
          <p class="tw_bad">　まずい：<%= @tw_cnt_bad3  %><br></p>
        </div>
</div>
</div>
<% end %>
</div>

<div>
   <%  ##link_to 'リンク先へジャンプ', '/countries/' %>
</div>
