<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shop %><br>
    <%= f.text_field :shop %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :calorie %><br>
    <%= f.text_field :calorie %>
  </div>
  <div class="field">
    <%= f.label :net %><br>
    <%= f.text_field :net %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :carbon %><br>
    <%= f.text_field :carbon %>
  </div>
  <div class="field">
    <%= f.label :sugar %><br>
    <%= f.text_field :sugar %>
  </div>
  <div class="field">
    <%= f.label :fiber %><br>
    <%= f.text_field :fiber %>
  </div>
  <div class="field">
    <%= f.label :sodium %><br>
    <%= f.text_field :sodium %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
