<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Category</th>
      <th>Item</th>
      <th>Name</th>
      <th>Price</th>
      <th>Calorie</th>
      <th>Net</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbon</th>
      <th>Sugar</th>
      <th>Fiber</th>
      <th>Sodium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.shop %></td>
        <td><%= item.category %></td>
        <td><%= item.item %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.calorie %></td>
        <td><%= item.net %></td>
        <td><%= item.protein %></td>
        <td><%= item.fat %></td>
        <td><%= item.carbon %></td>
        <td><%= item.sugar %></td>
        <td><%= item.fiber %></td>
        <td><%= item.sodium %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
