<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @item.shop %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item.item %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Calorie:</strong>
  <%= @item.calorie %>
</p>

<p>
  <strong>Net:</strong>
  <%= @item.net %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @item.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @item.fat %>
</p>

<p>
  <strong>Carbon:</strong>
  <%= @item.carbon %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @item.sugar %>
</p>

<p>
  <strong>Fiber:</strong>
  <%= @item.fiber %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @item.sodium %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
