<% if !notice.nil? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<% if !@item.blank? %>
  <!-- 商品情報 -->
  <%= print_item(@item) %>
  <!-- 口コミ投稿フォーム -->
  <div class="comment">
  <h4>コメント投稿欄</h4>
  <%= form_tag("/item_reviews/add", method: "post") do %>
      <%= hidden_field(:item_review,:item_id,value:@item.id) %>
      <dl>
        <dt>ハンドルネーム:</dt>
        <dd><%= text_field(:item_review,:handlename) %></dd> 
        <dt>コメント:</dt>
        <dd><%= text_area(:item_review,:comment) %></dd>
      </dl>
      <%= submit_tag("コメントを投稿する",:class => "btn btn-lg btn-primary") %>
  <% end %>
  </div>
  <div class="comment">
  <h4>コメント一覧</h4>
  <% if @item_reviews.blank? %>
    <p>この商品に対するコメントはありません。</p>
  <% else %>
    <table class="table">
    <tr><th>ハンドルネーム</th><th>コメント</th></tr>
    <% @item_reviews.each do | review| %>
      <tr class="item_review">
      <td><%= review.handlename %></td> 
      <td><%= review.comment %></td> 
      </tr>
    <% end %>
    </table>
  <% end %>
  </div>
  <div class="footer"><%= link_to '商品一覧に戻る', '/show/'+@item.category,:class=>'btn btn-lg btn-default' %></div>
<% end %>
<% if @item.blank? %>
  <p class="not_found">選択した商品が見つかりませんでした</p>
  <div class="footer"><%= link_to 'トップに戻る', '/' ,:class=>'btn btn-lg btn-default' %></div>
<% end %>
