<p id="notice"><%= notice %></p>
<% if !@item.blank? %>
  <!-- 商品情報 -->
  <%= print_item(@item) %>
  <!-- 口コミ投稿フォーム -->
  <h3>コメント投稿欄</h3>
  <%= 
    form_tag("/items/review", method: "post") do
      concat hidden_field(:item,:id,value:@item.id)
      concat "ハンドルネーム"
      concat text_field(:review,:handlename)
      concat "コメント"
      concat text_field(:review,:comment)
      concat submit_tag("コメントを投稿する")
    end 
  %>
  <h3>コメント一覧</h3>
  <% @item_reviews.each do | review| %>
     <%= 
       content_tag(:dl) do
         concat content_tag(:dt,review.handlename) 
         concat content_tag(:dd,review.comment)
       end
     %>
  <% end %>

  <%= link_to '商品一覧に戻る', '/show/'+@item.category %>
<% end %>
<% if @item.blank? %>
  <p class="not_found">選択した商品が見つかりませんでした</p>
<%= link_to 'トップに戻る', '/' %>
<% end %>
