<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @item.shop %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item.item %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Good:</strong>
  <%= @item.good %>
</p>

<p>
  <strong>Bad:</strong>
  <%= @item.bad %>
</p>



