<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>ホットアイテム</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="title1"><%= link_to 'ホットアイテム','/' %></h1>
<p class="title2">今、コンビニで話題の商品がひと目で分かります!</p>
  <%= yield %>
</body>
</html>
