<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_review.item_id %>
</p>

<p>
  <strong>Handlename:</strong>
  <%= @item_review.handlename %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @item_review.comment %>
</p>

<%= link_to 'Edit', edit_item_review_path(@item_review) %> |
<%= link_to 'Back', item_reviews_path %>
